
{{ if .IsHome }}
{{ if .Site.Params.homeTitle }}
  {{ $.Scratch.Set "title" .Site.Params.homeTitle }}
{{ else }}
  {{ $.Scratch.Set "title" .Site.Title }}
{{ end }}
{{ else }}
{{ $.Scratch.Set "title" .Title }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ if $title }}
<header>
  <div class="intro-header">
    <div class="container">
      {{ if not .IsHome }}
        {{ partial "nav.html" . }}
      {{ end }}
      <div class="{{ .Type }}-heading">
        {{ if eq .Type "list" }}
          <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
        {{ else }}
          <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
          {{ if .IsHome }}
            {{ $authorName := default .Site.Params.Author.name .Site.Params.Author.display_name }}
            <p class="author">{{ with $authorName }}{{.}}{{ else }}<br/>{{ end }}</p>

            {{ if .Site.Params.description }}
              <div class="abstract">
                <h2>Abstract</h2>
                <p>
                  {{ .Site.Params.description }}
                </p>
              </div>
	      {{ partial "nav.html" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</header>
{{ else }}
<div class="intro-header"></div>
{{ end }}
