<article class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ .Title }}</h2>
    </a>
    <div class="postmeta">
        {{ partial "postmeta.html" . }}
    </div>
    <div class="post-entry">
        {{ $page := . }}
        {{ with $page.Params.summary }}
            <p>{{ . }}</p>
            <a href="{{ $page.Permalink }}" class="post-read-more">Read More</a>
        {{ else }}
            {{ with $page.Summary }}
                {{ . }}
            {{ else }}
                <p>{{ $page.Plain | truncate 220 }}</p>
            {{ end }}
            {{ if $page.Truncated }}
                <a href="{{ $page.Permalink }}" class="post-read-more">Read More</a>
            {{ end }}
        {{ end }}
    </div>
</article>
