{{ define "main" }}
<div class="container" role="main">
    <div class="posts-list">
      {{ $allPages := slice }}
      {{ if .IsHome }}
        {{/* Grab pages from mainSections param */}}
        {{ $mainSections := .Site.MainSections }}
          {{/* Loop through each section provided in mainSections */}}
        {{ range $mainSections }}
          {{/* Get the pages for each section */}}
          {{ $sectionPages := (where $.Site.RegularPages "Section" .) }}
          {{/* Append the pages from this section to the allPages slice */}}
          {{ $allPages = $allPages | append $sectionPages }}
        {{ end }}
      {{ else }}
        {{ $allPages = .Pages }}
      {{ end }}

      {{ $pag := .Paginate $allPages.ByDate.Reverse }}

      {{ range $pag.Pages }}
        {{ partial "preview.html" . }}
      {{ end }}
      </div>
    {{ if or ($pag.HasPrev) ($pag.HasNext) }}
    <ul class="pager">
      {{ if $pag.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ $pag.Prev.PageNumber }}/">&larr; Newer</a>
        </li>
      {{ end }}
      {{ if $pag.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ $pag.Next.PageNumber }}/">Older &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
{{ end }}
