{{- $src := .Get "src" -}}
{{- if not $src -}}
    {{- errorf "figure shortcode requires a src parameter" -}}
{{- end -}}
{{- partial "figure.html" (dict
    "page" .Page
    "src" $src
    "alt" (.Get "alt" | default "")
    "caption" (.Get "caption")
    "title" (.Get "title")
    "class" (.Get "class")
    "imgClass" (.Get "imgClass")
    "link" (.Get "link")
    "loading" (.Get "loading" | default "lazy")
    "decoding" (.Get "decoding" | default "async")
    "sizes" (.Get "sizes" | default "(max-width: 1050px) calc(100vw - 2.5rem), 80ch")
) -}}
