<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
    <head>
    {{- partial "head.html" . -}}
    </head>
    {{- $themeClass := "latex-dark-auto" -}}
    {{- if site.Params.darkmode -}}
        {{- $themeClass = "latex-dark" -}}
    {{- else if site.Params.lightmode -}}
        {{- $themeClass = "" -}}
    {{- end -}}
    <body class="{{ $themeClass }} {{ block "body-class" . }}{{ end }}">
        <a class="skip-link" href="#main-content">Skip to main content</a>
        {{- partial "header.html" . -}}
        <main id="main-content" tabindex="-1">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partialCached "footer.html" . -}}
    </body>
</html>
