<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
    <head>
    {{- partial "head.html" . -}}
    </head>
    {{- $themeClass := "latex-dark-auto" -}}
    {{- if site.Params.darkmode -}}
        {{- $themeClass = "latex-dark" -}}
    {{- else if site.Params.lightmode -}}
        {{- $themeClass = "" -}}
    {{- end -}}
    <body class="{{ $themeClass }} {{ block "body-class" . }}{{ end }}">
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partialCached "footer.html" . -}}
    </body>
</html>
