{{ define "prepare-head" }}
    {{- $allPages := slice -}}
    {{- if .IsHome -}}
        {{- range .Site.MainSections -}}
            {{- $sectionPages := where $.Site.RegularPages "Section" . -}}
            {{- $allPages = $allPages | append $sectionPages -}}
        {{- end -}}
    {{- else -}}
        {{- $allPages = .Pages -}}
    {{- end -}}
    {{- .Store.Set "listPaginator" (.Paginate $allPages.ByDate.Reverse) -}}
{{ end }}

{{ define "main" }}
<div class="container">
    <div class="posts-list">
      {{ $pag := .Store.Get "listPaginator" }}
      {{ range $pag.Pages }}
        {{ partial "preview.html" . }}
      {{ end }}
    </div>
    {{ if or ($pag.HasPrev) ($pag.HasNext) }}
    <nav aria-label="Pagination">
      <ul class="pager">
        {{ if $pag.HasPrev }}
          <li class="previous">
            <a href="{{ $pag.Prev.URL }}">&larr; Newer</a>
          </li>
        {{ end }}
        {{ if $pag.HasNext }}
          <li class="next">
            <a href="{{ $pag.Next.URL }}">Older &rarr;</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</div>
{{ end }}
