{{ define "main" }}
  <div class="container" role="main">
    <article class="article indent-pars blog-post">
      <div class="postmeta">
        {{ partial "postmeta.html" . }}
      </div>
      <br>
      {{ if eq .Section "homilies" }}
        {{ partial "homily-readings.html" . }}
      {{ end }}
      {{ partial "content-with-toc.html" . }}

      {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
          <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
          {{ end }}
        </div>
      {{ end }}
    </article>
  </div>
{{ end }}
